body { 
    overflow-x: hidden;
    background-color: #f5f5f5;
}
.h-spam{
    color: #469387;
}
.hr{
     border: none;
    height: 2px;
    background-color: #469387;
}
.sidebar {
    height: 100vh;
    width: 240px;
    background: #282c35;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    font-size: 5px;
}

.name-logo{
    font-size: 30px;
    font-family: cursive;
}
.btn-filter{
    background-color: #282c35;
    color: white;
}
.btn-filter:hover{
    background-color: #469387;
    color: white;
}
.h-petlist{
    font-size: 30px;
    font-family: cursive;
}
.dropdown-menu{
    background-color: #282c35;
    color: white;
}
.dropdown-item{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.dropdown-item:hover{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #469387;
}
.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
    position: relative;
    transition: 0.3s;
}

/* Left green bar (hidden by default) */
.sidebar a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #30c18b; /* green color */
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}

/* Hover effect */
.sidebar a:hover {
    opacity: 1;
    color: white;
    background: rgba(70, 147, 135, 0.15); /* subtle background highlight */
}

.sidebar a:hover::before {
    width: 5px;  /* width of the green bar */
}

.sidebar h4 { color: white; text-align: center; margin-bottom: 20px; }
.content { margin-left: 260px; padding: 20px; }

.pet-card {
    transition: 0.3s ease;
    overflow: hidden;
}

.pet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0,0,0,0.15);
}

.pet-img {
    height: 200px;
    object-fit: cover;
    transition: 0.3s ease;
}

.pet-card:hover .pet-img {
    transform: scale(1.05);
}

.pet-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #28a745;
    padding: 6px 12px;
    color: white;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 600;
}
.user-modal{
    background-color: #469387;
    color: white;
}
.message-modal{
    background-color: #469387;
    color: white;
}
.add-modal{
    background-color: #469387;
    color: white;
}
.btn-edit{
    background-color: #469387;
}
.btn-delete{
    background-color: rgba(70, 147, 135, 0.15);
}