    body{
        background-color: #f5f5f5;
    }
    .img-login{
        padding: 0;
        margin: 0;
    }
    .h-login{
        font-size: 50px;
        padding: 0 0 20px 0;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .hero {
        display: flex;
        align-items: left;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .input-sign {
        border: 1px grey solid;
        height: 40px;
        width: 20rem;
        padding: 0 0 0 10px;
        border-radius: 5px;
        margin: 0 0 10px 0;
    }
    .remember-me-container{
        opacity: 0.8;
        padding: 0 0 15px 0;
        margin: 0;
    }
    button {
        height: 40px;
        width: 20rem;
        padding: 5px;
        font-size: 15px;
        background-color: #469387;
        border: none;
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    }
    .p-account{
        padding: 10px 0 0 0;
    }
    .register{
        text-decoration: none;
        color: #469387;

    }