body{
    background-color: #f5f5f5;
}
span{
    color: #469387;
}
.h-pet{
    font-family: cursive;
    font-size: 50px;
}
 .filter-btn { border-radius: 50px; padding: 8px 20px; }
        .pet-card { transition: 0.3s; }
        .pet-card:hover { transform: scale(1.05); }
