body{
    background-color: #f5f5f5;
}

         
        
         .her{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically centers content */
    align-items: center; /* Horizontally centers content */
    height: 100vh; /* Ensures the hero section takes up the full viewport height */
    text-align: left; /* Ensures text is centered */
}
.hero{
     margin: 300px 0 0 0;
}
#hero{
    margin-bottom: 40px;
}
.h1-hero{
    font-size: 60px;
    font-weight: bold;
    font-family: cursive;
    padding: 0 0 20px 0;
    margin: 0;
}
span{
    color:#469387;
}
.p-hero{
    font-size: 17px;
    opacity: 0.9;
    padding: 0 0 10px 0;
}
.btn-hero{
    border-radius: 50px;
 border: black solid 1px;
 background-color: black;
 color: #f5f5f5;
 font-size: 20px;
 padding: 10px;
 margin: 0 0 20px 0;
 width: 200px;
 text-decoration: none;

}
#about{
    margin-bottom: 40px;
}
.about-text{
      margin: 70px 0 0 0;
}
.about-h1{
    font-size: 60px;
    font-weight: bold;
    font-family: cursive;
    padding: 0 0 20px 0;
    margin: 0;
}
.about-p{
     font-size: 17px;
    opacity: 0.9;
}
.btn-about{
      border-radius: 50px;
 border: black solid 1px;
 background-color: black;
 color: #f5f5f5;
 font-size: 20px;
 padding: 10px;
 margin: 0 0 20px 0;
 width: 200px;
}
#pet{
    margin-bottom: 40px;
}
.pet-h1{
    text-align: center;
     font-size: 50px;
    font-weight: bold;
    font-family: cursive;
    margin: 0 0 30px 0;

}
.btn-pet{
     border-radius: 50px;
 border: black solid 1px;
 background-color: black;
 color: #f5f5f5;
 font-size: 20px;
 padding: 10px;
 width: 200px;
 margin: 0 0 30px 0;
}
.pet{
     transition: 1s;
       
        opacity: 0.8;
}
.pet:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 0.5s;
        opacity: 1;
}
#footer {
    background: #222;
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
}
.img-footer{
    margin: 0 0 10px 0;
}
.footer-p{
    font-size: 17px;
    opacity: 0.8;
    
}
ul{
     list-style-type: none;
     opacity: 0.8;
}
.footer-end{
    background-color: #031926;
    padding: 10px;
    border-top: #f5f5f5 solid 2px;
    text-align: center;
    color: #f5f5f5;
}


